build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.o
*.a
*.so
*.exe
*.apk
*.deb
*.rpm
*.tar.gz
*.zip
compile_commands.json
CTestTestfile.cmake
_CPack_Packages/
*.db
local.properties
sdk/
ndk/
.idea/
.vscode/
.DS_Store
